bookings/bookings
*.out
bookings/bookings.exe
bookings/database.yml
bookings/static/admin/*
websocket_vigilate/database.yml
websocket_vigilate/vigilate.exe
websocket_vigilate/run.bat
websocket_vigilate/run.bat
websocket_vigilate/run.bat
websocket_vigilate/run.sh
websocket_vigilate/vigilate
hello-world-web/*
.DS_Store
vue_books/go_backend/vueapi
microservices/broker_service/brokerApp
microservices/frontend/frontApp
microservices/project/db-data
microservices/authentication_service/authApp
microservices/logger_service/loggerApp
microservices/mail_service/mailerApp
microservices/listener_service/listenerApp
fyne/goldwatcher/repository/testdata/
